<table class="table table-striped">
 	<tr>
	  <td><strong>Style:</strong></td>
	  <td><%= @product.style %>
	</tr>
	 	<tr>
	  <td><strong>Frame:</strong></td>
	  <td><%= @product.frame %>
	</tr>
	 	<tr>
	  <td><strong>Gears:</strong></td>
	  <td><%= @product.gears %>
	</tr>
	 	<tr>
	  <td><strong>Saddle:</strong></td>
	  <td><%= @product.saddle %>
	</tr>
	 	<tr>
	  <td><strong>Tires:</strong></td>
	  <td><%= @product.tires %>
	</tr>
	 	<tr>
	  <td><strong>Gender:</strong></td>
	  <td><%= @product.gender %>
	</tr>
</table>